app/build/
app/android/
app/ios/

# Working with Firebase with Admin SDK
firebase/HEIs/
firebase/key.json
firebase/counties.txt

# A script for code statistics
app/code_stats.py

# The previous version of the project
old/

# Lints
app/analysis_options.yaml

# Miscellaneous
*.drawio
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
